.rootHeader{
  width: 100%;
  height: 70px;
  background-color:white ;
  margin: 0;
  color: blue;
  }

.nameLinkPerso{
  width: 100%;
  margin-top: 1.5%;
  position:absolute;
  }

.namePanel{
  margin-left: 2%;
  width: 10%;
  display: inline;
  font-size: 25px;
  }

.linkPerso{
  width: 50%;
  height: 50px;
  color : blue;
  font-size: 15px;
  display: inline;
  margin-left: 50%;
}

.linkPerso div{
  display: inline;
  margin-right: 2%;
}

/*****************body*********************/
.principaleBody{
  margin: 0;
  width: 100%;
  height: 100%;
}

.rootBody{
  background: url("images/root.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 530px;
}

.divCentrale{
  width: 100%;
  height: 275px;
  border: 2px solid black;
}

.centralImage{
  position: absolute;
  margin-top: 90px;
  margin-left: 25%;
  width: 25%;
  height: 250px;
}

.centralImage img{
  width: 100%;
  height: inherit;
  border: 2px solid green;
}

.infoPerso{
  position: absolute;
  margin-top: 90px;
  margin-left: 50%;
  width: 20%;
  height: 250px;
  border: 2px solid black;
  background-color: white;
  font-size: 12px;
  color: blue;
  padding-left: 5%;
}

.infoPerso div{
  line-height: 2%;
}

.socialLink{
  position: absolute;
  margin-left: 25%;
  width: 50%;
  border: 2px solid blue;
  background-color: green;
  height: 25px;
  margin-top: 340px;
}

.link{
  width: 50%;
  margin-left: 30%;
}

.link img{
  width: 5%;
  height: 15px;
}

.link div{
  margin-right: 20%;
  display: inline;
}
/*************footer*************/
.rootFooter{
  margin-bottom: : 0;
  width: 100%;
  height: 30px;
}

.footerContent{
  position: absolute;
  margin-top: 10px;
  margin-left: 40%;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: normal;
}
