.rootHeader{
  width: 100%;
  height: 70px;
  background-color:white ;
  margin: 0;
  color: blue;
  }

.nameLinkPerso{
  width: 100%;
  margin-top: 15px;
  float: left;
  }

.namePanel{
  margin-left: 2%;
  width: 10%;
  display: inline;
  font-size: 25px;
  }

.linkPerso{
  width: 50%;
  height: 50px;
  color : blue;
  font-size: 15px;
  display: inline;
  margin-left: 50%;
}

.linkPerso div{
  display: inline;
  margin-right: 2%;
}

/*****************body*********************/
.principaleBody{
  margin: 0;
  width: 100%;
  height: 100%;
}

.rootBody{
  background: url("images/root.jpg") no-repeat center fixed;
  background-size: cover;
  width: auto;
  height: 500px;
  padding-top: 100px;
  padding-left: 25%;
  padding-right: 25%;
}

.divCentrale{
  width: auto;
  height: 400px;
  border: 2px solid black;
}

.centralImage{
  width: 50%;
  height: 90%;
  float: left;
}

.centralImage img{
  width: 100%;
  height: 100%;
}

.infoPerso{
  width: 50%;
  height: 90%;
  background-color: yellow;
  font-size: 12px;
  color: blue;
  float: right;
}

.panelInfoPerso{
  height: 100%;
  padding-top: 30px;
  padding-left: 30px;
}

.panelInfoPerso div{
  width: 100%;
}

.panelInfoPerso div:first-child span{
  font-size: 25px;
  font-weight: bold;
  display: block;
}

.panelInfoPerso div:first-child span:nth-child(2){
  font-size: 20px;
  font-weight: normal;
}

.panelInfoPerso div + div{
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
}

.panelInfoPerso div + div span + span{
font-size: normal;
font-weight: normal;
display: block;
}

.socialLink{
  width: 100%;
  background-color: green;
  height: 10%;
  float: left;*
}

.socialLink div{
  width: auto;
  height: 100%;
  margin-right: 1%;
  float: left;
  display: inline;
  padding-left: 15%;
  padding-top: 10px;
}

.socialLink img{
  height: 20px;
}

/*************footer*************/
.rootFooter{
  margin-bottom: : 0;
  width: 100%;
  height: 30px;
}

.footerContent{
  position: absolute;
  margin-top: 10px;
  margin-left: 40%;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: normal;
}
